{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Edytuj produkt</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3 d-flex gap-2">
            {{ form.name.label_tag }}
            {{ form.name | add_class:'form-control w-25 w-md-full' }}
        </div>
        <div class="mb-3">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="mb-3">
            {{ form.price.label_tag }}
            {{ form.price }}
        </div>
        <div>
            <label for="{{ form.image.id_for_label }}">Zdjęcie:</label>
            {{ form.image }}
            {% if not form.image.value %}
                <img src="{{ product.image.url }}" alt="Obecne zdjęcie" />
            {% endif %}
        </div>
        <div>
            <label for="{{ form.thumbnail.id_for_label }}">Miniatura:</label>
            {{ form.thumbnail }}
            {% if not form.thumbnail.value %}
                <img src="{{ product.thumbnail.url }}" alt="Obecna miniatura" />
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Zapisz edycję</button>
        <a href="/" class="btn btn-secondary ms-2">Cofnij</a>
    </form>
</div>
{% endblock %}