{% load static %}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <div id="wrapper" class="flex flex-col justify-between h-screen">

        <!-- Content-->
        <div>
            <div>
                <h1 class="lg:text-3xl text-xl font-semibold  mb-6 cursor-pointer"> Log in</h1>

                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>
                    {% for message in messages%}
                    <h5>{{message}}</h5>
                    {%endfor%}
                </div>


                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

</body>


</html>