{% extends 'base.html' %}
{% block content %}
<div id="wrapper" class="d-flex flex-column justify-content-between min-vh-100">
    <div class="container mt-5">
        <div class="mb-4 text-center">
            <h1 class="h3 mb-4">Log in</h1>
        </div>
        {% comment %} <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div> {% endcomment %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

    
{% endblock %}