
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid me-5 ms-5">
  

        <p class="navbar-brand mt-4 mt-lg-0" style="cursor: pointer;">PetsShop</p>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'product-list' %}">Produkty</a>
            </li>
        </ul>
      <div class="d-flex align-items-center">
  
        <div style="padding: 5px; margin-left: 30px;">
            {% if user.is_authenticated %}
                {% if user.userprofile.is_client %}
                    <p class="d-inline-block me-4">Witaj, kliencie <strong>{{ user.username }}!</strong></p>
                {% else %}
                    <p class="d-inline-block me-4">Witaj, sprzedawco <strong>{{ user.username }}!</strong></p>
                {% endif %}
                <a class="text-reset me-3" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                    </svg>
                </a>
                <a class="btn btn-primary" role="button" href="{% url 'logout' %}">Wyloguj się</a>
            {% else %}
                <a class="btn btn-primary" role="button" href="{% url 'login' %}">Zaloguj się</a>
            {% endif %}
        </div>
      </div>

    </div>

  </nav>
