{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h1>Lista produktów</h1>
    <form class="mb-3" method="get" action="{% url 'product-list' %}">
        <div class="row g-2">
            <div class="col-md-2">
                <input type="text" class="form-control" name="name" placeholder="Nazwa" value="{{ name }}">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="category" placeholder="Kategoria" value="{{ category }}">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="description" placeholder="Opis" value="{{ description }}">
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control" name="price" placeholder="Cena" value="{{ price }}">
            </div>
            <div class="col-md-1">
                <select class="form-select" name="sort">
                    <option value="">Sortuj</option>
                    <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Nazwa</option>
                    <option value="category" {% if sort_by == 'category' %}selected{% endif %}>Kategoria</option>
                    <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Cena</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Filtruj i Sortuj</button>
            </div>
            <div class="col-md-2 text-end">
                {% if user.userprofile.is_seller %}
                    <a href='/products/add' class="btn btn-success">Dodaj produkt</a>
                {% endif %}
            </div>
        </div>
    </form>
    

    <div class="row">
        {% for product in products %}
            <div class="col-md-3 mb-4">
                <div class="card" style="border: 3px solid green;">
                    <a href="{% url 'product' product.id %}" style="text-decoration: none; color: inherit;" class="h-100">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text"><strong>{{ product.category }}</strong></p>
                            <p class="card-text">{{ product.description|slice:":100" }}...</p>
                            <p class="card-text">Cena: <strong>{{ product.price }} zł</strong></p>
                            {% if user.userprofile.is_seller or user.userprofile.is_client %}
                            <div class="card-footer text-center">
                                {% if user.userprofile.is_seller %}
                                    <a href="{% url 'edit_product' product.pk %}" type="button" class="btn btn-primary btn-sm">Edytuj</a>
                                    <form method="post" action="{% url 'delete_product' product.id %}" class="d-inline mt-auto">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm delete-button">Usuń</button>
                                    </form>
                                {% endif %}
                                
                                {% if user.userprofile.is_client %}
                                    <form method="post" action="{% url 'add-to-cart' product.pk %}" class="mt-3">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit" class="btn btn-primary btn-sm">Dodaj do koszyka</button>
                                    </form>
                                {% endif %}
                            </div>
                            
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>    

    <div class="pagination mt-4">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1" class="btn btn-secondary btn-sm">&laquo; pierwsza</a>
                <a href="?page={{ products.previous_page_number }}" class="btn btn-secondary btn-sm">poprzednia</a>
            {% endif %}
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-secondary btn-sm">następna</a>
                <a href="?page={{ products.paginator.num_pages }}" class="btn btn-secondary btn-sm">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
{% comment %} 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var confirmation = confirm("Czy jesteś pewien usunięcia?");
                    if (confirmation) {
                        // Tutaj umieść kod, który wywoła usunięcie produktu, na przykład AJAX request lub przekierowanie do widoku usuwania
                    }
                });
            });
        });
    </script>
</body>
</html> {% endcomment %}

