{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista produktów</title>
</head>
<body>
    <h1>Lista productów</h1>
    <form method="get" action="{% url 'product-list' %}">
        <input type="text" name="name" placeholder="Nazwa" value="{{ name }}">
        <input type="text" name="category" placeholder="Kategoria" value="{{ category }}">
        <input type="text" name="description" placeholder="Opis" value="{{ description }}">
        <input type="number" name="price" placeholder="Cena" value="{{ price }}">
        <select name="sort">
            <option value="">Sortuj</option>
            <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Nazwa</option>
            <option value="category" {% if sort_by == 'category' %}selected{% endif %}>Kategoria</option>
            <option value="price" {% if sort_by == 'price' %}selected{% endif %}>Cena</option>
        </select>
        <button type="submit">Filtruj i Sortuj</button>

        {% if user.userprofile.is_seller %}
            <button> <a href='/products/add'> Dodaj produkt <a> </button>
        {% endif %}
    </form>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{product.name}}</h3>
                <img src={{product.thumbnail.url}}/>
                <p>Kategoria: {{ product.category }}</p>
                <p>Opis: {{ product.description }}</p>
                <p>Cena: {{ product.price }}</p>
                <div style="display: inline-block;">
                    <form method="post" action="{% url 'edit_product' product.id %}" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <button type="submit">Edytuj</button>
                    </form>
                    <form method="post" action="{% url 'delete_product' product.id %}" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Usuń</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ products.previous_page_number }}">poprzednia</a>
            {% endif %}
            <span class="current-page">{{ products.number }}</span>
            <p>{{ products.paginator.num_pages }}<p>
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">następna</a>
                <a href="?page={{ products.paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var confirmation = confirm("Czy jesteś pewien usunięcia?");
                    if (confirmation) {
                        // Tutaj umieść kod, który wywoła usunięcie produktu, na przykład AJAX request lub przekierowanie do widoku usuwania
                    }
                });
            });
        });
    </script>
</body>
</html>

