{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row border p-2">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-end mb-4">
                <img src="{{ product.thumbnail.url }}" class="img-fluid" alt="{{ product.name }}" style="max-width: 200px;">
            </div>
            <div class="mb-4 ps-2 pe-2">
                <h2>{{ product.name }}</h2>
                <p style="max-height: 30px; min-height:30px;"><strong>{{ product.category }}</strong></p>
                <p class="text-justify">{{ product.description }}</p>
                <p>Cena: <strong>{{ product.price }} zł</strong></p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                {% if user.userprofile.is_seller %}
                    <a href="{% url 'edit_product' product.pk %}" type="button" class="btn btn-primary btn-sm me-3">Edytuj</a>
                    <form method="post" action="{% url 'delete_product' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger delete-button">Usuń</button>
                    </form>
                {% endif  %}
            </div>
        </div>
        
    </div>
</div>    
{% endblock %}
